{
  "plugins": [
    [
      "istanbul",
      {
        "exclude": [
          "**/*.spec.js",
          "**/*.cy.js",
          "cypress/**/*",
          "node_modules/**/*"
        ]
      }
    ]
  ]
}
